@import "tailwindcss";

:root {
  --verde: #86c232;
  --cinza: #6b6e70;
  --branco: #fafafa;
  --preto: #141414;
  --pretoc: #1f1f1f;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--preto);
  color: var(--branco);
}

/*--marrom: #2d2a27;*/
